.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Form{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  /*border: 1px solid black;*/
}

.background{
  display: flex;
  min-height: 100vh;
  background: url(https://source.unsplash.com/random/1600x900);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
}
.centerMargin{
  margin: 10px;
  display: flex;
  justify-content: center;
}
.center{
  display: flex;
  justify-content: center;
}
.content{
  margin-top: 20px;
  margin-left:10px;
  margin-right:10px;
}
div.rbc-row-content{
  z-index:0
}
